* {
    margin: 0;
    padding: 0;
}



h1 {
    padding-bottom: 66px;
    font-size: 30px;
    color: #1f222c;
    text-align: center;
    font-weight: 700;
    font-family: "Roboto Slab";
}

h2 {
    padding-bottom: 29px;
    font-size: 20px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto";
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

select {
    width: 330px;
    margin-bottom: 10px;
    padding: 11px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

textarea{
    width: 100%;
    height: 100%;
    padding: 13px;
    resize: vertical;
}

.wrapper {
    padding: 77px 99px;
}

.commoninput {
   width: 304px;
   margin-bottom: 10px;
}

.commontextarea {
    width: 302px;
    height: 102px;
}

.commonbuttom {
    display: block;
    width: 330px;
    height: 43px;
    margin-top: 40px;
    box-sizing: border-box;
}

.commonbuttom input {
    width: 100%;
    padding: 12px;
    border-radius: 3px;
    color: #ffffff;
    background-color: #12d661;
    cursor: pointer;
}