@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0 ;
    padding: 0;
}

a {
    text-decoration: none;
}
p {
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}
h1 {
    padding-bottom: 66px;
    font-size: 30px;
    color: #1f222c;
    text-align: center;
    font-weight: 700;
    font-family: "Roboto Slab";
}

h2 {
    padding-top: 50px;
    padding-bottom: 29px;
    font-size: 20px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto";
}
h3 {
    font-size: 18px;
    padding-bottom: 26px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto";
}
input {
    width: 100%;
    padding: 12px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

input:focus {
    filter: drop-shadow(0 0 2.5px rgba(62,106,255,0.55));
    outline: 1px solid #3e6aff;
}

select:focus {
    filter: drop-shadow(0 0 2.5px rgba(62,106,255,0.55));
    outline: 1px solid #3e6aff;
}

textarea:focus{
    filter: drop-shadow(0 0 2.5px rgba(62,106,255,0.55));
    outline: 1px solid #3e6aff;
}

button:hover{
    background-color: blue;
    color: white;
    filter: drop-shadow(0px 2px 2.5px rgba(8,118,52,0.35));
}

select {
    position: relative;
    appearance: none;
    width: 330px;
    margin-bottom: 10px;
    padding: 11px;
    border-radius: 3px;
   background-color: rgba(255, 255, 255, 0.01);
    border: 1px solid #cccccc;
    z-index: 2;
}

textarea{
    width: 100%;
    max-height: 110px;
    padding: 13px;
    resize: vertical;
    border-radius: 3px;
    border: 1px solid #cccccc;
}

.padding {
    padding: 15px 0;
}
.paddingg {
    padding-bottom: 15px ;
}

.flex {
    display: flex;
    align-items: center;
    gap: 1px;
}

.flex_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    padding: 77px 99px;
}

.commonforms {
    padding-bottom: 51px;
}

.commoninput {
   width: 304px;
   margin-bottom: 10px;
}

.commontextarea {
    width: 302px;
    height: 102px;
}

.commonbuttom {
    display: block;
    width: 330px;
    height: 43px;
    margin-top: 40px;
    box-sizing: border-box;
}

.commonbuttom input {
    width: 100%;
    padding: 12px;
    border-radius: 3px;
    color: #ffffff;
    background-color: #12d661;
    cursor: pointer;
}

.element {
    padding-bottom: 90px;
}
.checkbox  {
    gap: 62px;
}
.checkboxinput, .checkboxinputtwo, .customstyle  {
    padding-bottom: 10px;
}

.checkboxinput p, .checkboxinputtwo  p {
   padding-left: 10px;
}

.disabled {
    width: 15px;
    height: 15px;
    margin-left: -1px;
    border-radius: 7px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.disp  {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 400;
}

.disptwo p {
font-size: 14px;
color: #b3b3b3;
font-weight: 400;
font-family: "Roboto";
}

.disabltwo{
    margin-left: -1px;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.real {
    display: none;
}

.custom {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    outline: 1px solid #cccccc;
    box-sizing: border-box;
}


.real:checked + .custom{
    border-radius: 50%;
    background-color: #3e6aff;
    outline: 1px solid #3e6aff;
    border: 4px solid #ffffff;
}

.customtwo {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: #ffffff;
    outline: 1px solid #cccccc;
    box-sizing: border-box;
    z-index: 2;
}

.customtwo svg {
    fill: #ffffff;
    width: 15px;
    height: 15px;
    position: absolute;
    transform: translate(-45%, -50%);
    top: 50%;
    left: 49%;
    z-index: 1;
}

.real:checked + .customtwo  {
    border-radius: 3px;
    background-color: #ffffff;
    outline: 1px solid #3e6aff;
}

.real:checked + .customtwo svg {
    fill: #3e6aff;
}


.table {
    width: 518px;
    height: 114px;
    padding: 20px;
    border-radius: 3px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.table thead {
    display: inline-block;
    padding-bottom: 14px;
}

.table tbody {
    display: inline-block;
}

.table th  { 
   padding-right: 26px;
}
.table td {
    padding-right: 37px;
}

.table p {
    margin-left: 9px;
}

.list label{
    padding-bottom: 19px;
}

.style {
    padding-bottom: 50px;
    align-items: center;
    gap: 300px;
}

.listchekbox {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.svg {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 10px;
}

.boy label , .girl label{
    gap: 15px;
}

.girl input {
    display: none;
    appearance: none;
    opacity: 0;
}

.boy input {
    display: none;
    appearance: none;
    opacity: 0;
}

.boyhover {
    display: none;
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: url(../img/boyhover.svg);
}

.boy-input:checked ~ .boyhover {
  display: block;
}

.boy-input:checked ~ .svgp{
    color: #3e6aff;
}
.girl  {
    position: relative;
}

.girlhover {
    display: none;
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: url(../img/girlhover.svg);
}

.girl-input:checked ~ .girlhover {
  display: block;
}

.girl-input:checked ~ .svgp{
    color: #3e6aff;
}

.svgp {
    font-size: 16px;
    color: #1f222c;
    font-weight: 700;
}

.checkboxstyle {
    gap: 10px;
}

.customstyle {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
    border-radius: 13px;
    background-color: #cfcfd1;
    box-sizing: border-box;
}

.customstyle::before{
    content: '';
    position: absolute;
    left: 30%;
    top: 50%;
    width: 21px;
    height: 21px;
    border-radius: 11px;
    background-color: #ffffff;
    transform: translate( -50% ,-50%)  scale(0);
    transform: translate(-50%, -50%) scale(1);
    box-sizing: border-box;
    transition: 0.5s;
}

.real:checked + .customstyle::before {
    transform: translate(40%, -50%) scale(1);
    transition: 0.5s;
}

.real:checked + .customstyle {
    background-color: #3e6aff;
     transition: 0.5s;
}

.tablefour {
    padding-bottom: 49px;
}

.tablefour p{
    padding-right: 98px;
}
tr {
    align-items: center;
}

.file input {
   opacity: 0;
   width: 0;
   height: 0;
   position: absolute;
}

.file span {
    display: inline-block;
    padding: 12px 38px;
    border-radius: 3px;
    background-color: #3e6aff;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
}

.coment {
    padding-bottom: 140px;
}

.checkboxinput2 p {
    padding-right: 24px;
}

.checkboxinput2 {
    gap: 9px;
}

.select2 {
    width: 330px;
    padding: 11px;
    margin-bottom: 0;
    border-radius: 3px;
    border: 1px solid #cccccc;
}

.formtable tr {
    display: block;
    margin-top: 18px;
    
}

.formtable th ,td{
   text-align: left;
   padding-right: 10px;
}

.formtable p {
    font-size: 13px;
    color: #b3b3b3;
    font-weight: 400;
}

.formtable select {
    position: relative;
    width: 219px;
    padding: 11px;
    margin-top: 9px;
    margin-bottom: 0;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.01);
    border: 1px solid #cccccc;
    z-index: 2;
}

.labelselectform::after {
    content: "";
    border: 1px solid #cccccc;
    height: 20px;
    border-bottom: none;
    border-top: none;
    position: absolute;
    border-right: none;
    width: 1px;
    top: 0%;
    right: 28px;
}


.tableinput input {
    margin-top: 9px;
    width: 193px;
}

.tableinputadres input {
    margin-top: 9px;
    width: 450px;
    box-sizing: border-box;
}

.hr  {
    width: 681px;
    border-bottom:  1px solid #cccccc;
    box-sizing: border-box;
}

.checkboxinputtwo p {
    font-size: 14px;
    font-weight: 400;
}



.back  {
    padding: 12px 30px;
    border-radius: 3px;
    margin-left: -1px;
    margin-right: 279px;
    background-color: #ffffff;
    border: 1px solid #85868d;
}

.back a {
    color: #6e6f77;
    font-size: 14px;
    font-weight: 700;
}


.go {
    padding: 13px 30px;
    border: none;
    border-radius: 3px;
    background-color: #12d661;
}

.go a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
}

.fixform {
    position: fixed;
    top: 229px;
    right: 101px;
    padding: 17px 24px;
    border-radius: 5px;
    filter: drop-shadow(0px 5px 6px rgba(0,0,0,0.15));
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
    z-index: 3;
}

.fixform a {
    font-size: 13px;
    color: #3e6aff;
    font-weight: 400;
}

.fixform {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.fixform svg {
    position: absolute;
    top: 10px;
    right: 10px;
}

.fixinput {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.fix  input {
    height: 36px;
    width: 260px;
    box-sizing: border-box;
}

.bottom {
    padding-bottom: 13px;
}

.fixp {
    font-size: 13px;
    color: #b3b3b3;
    font-weight: 400;
    padding-bottom: 7px;
}

.go a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
}

.fixh2 {
    position: absolute;
    top: 177px;
    right: 174px;
}

.labelselectcom {
    position: relative;
}

.labelselectcom::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 14px;
    width: 9px;
    height: 5px;
    background-image: url(../img/select.svg);
    z-index: 1;
}

.formtable select {
    padding: 11px 16px;
    
}